.header, .container{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    background: linear-gradient(to left, hsl(316, 85%, 72%) 35%, rgba(0,212,255,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.inputField{
    padding: 10px;
    width: 40%;
    border: none;
}
.btn{
    padding: 20px;
    background: #f42fe0;
    border: none;
}
body{
    background-image: url(coffe1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: rgba(0,212,255,1);
}
.toDoAdded{
    background:hsl(316, 85%, 72%);
    list-style-type:none;
    height: 60px;
    width: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #000;
}
.toDoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toDoCompleted{
    background: rgba(0,212,255,1);
    color: #000000;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 2s ease;
}

@media all and (max-width: 800px){
    h1{
        font-size: 40px;
    }
}
@media all and (max-width: 500px){
    h1{
        font-size: 30px;
    }
}